.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 20px 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }
a{
    text-decoration: none
}

.photo-card{
    margin: 5px;

    border-right-width: 1px;
        border-right-style: solid;
        border-right-color: rgb(225, 224, 224);
        
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(225, 224, 224);
        
        border-left-width: 1px;
        border-left-style: solid;
        border-left-color: rgb(225, 224, 224);
    
}
.photo-card:hover{
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.20), 1px 4px 6px rgba(0, 0, 0, 0.30);
}
.info{
    display: flex;
    justify-content: space-around;

}

p{
    margin: 5px 0;
    font-size: 15px;
    color: #757575;

}
b{
    display: flex;
    flex-direction: column;
}
span{
    font-size: 12px;
}

.load-more.is-hidden{
    opacity: 0;
    
}

.conteiner-form{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 150px;
    background-color: rgb(150, 150, 150, 0.2);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.10), 0px 4px 4px rgba(0, 0, 0, 0.05), 1px 4px 6px rgba(0, 0, 0, 0.05);
}

input{
    padding-left: 10px;
    width: 300px;
    height: 40px;

    border: 1px solid rgb(225, 224, 224);
    border-radius: 5px;
}
button{
    width: 70px;
    height: 40px;

    border: none;
    border-radius: 5px;

    cursor: pointer;

    background-color: rgb(4, 120, 128);
    color: #fafafa;
}

button:hover{
    background-color: rgb(2, 104, 111);
}

.conteiner-btn-more{
    display: flex;
    justify-content: center;

    margin-bottom: 30px;

}
/* -------choose------------ */
.choose{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.choose__item{
    width: 12px;
    height: 12px;
}
.choose_label{
    color: #757575;
}

/* ---------checkbox----------- */

.checkbox-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }